# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
.env
.venv/
env/
venv/
ENV/

# Distribution / temp / log
.tmp/
.vercel/
*.log

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
